<o-form #form service="branches" entity="account" keys="ACCOUNTID" keys-sql-types="INTEGER" columns="ACCOUNTID;BALANCE;ENTITYID;OFFICEID;CDID;ANID;ACCOUNTTYP"
  show-header="no" editable-detail="no">
  <!-- (onFormDataLoaded)="onFormDataLoaded($event)" -->

  <div fxLayout="column" class="account-info">
    <span>AT {{ today | date:'shortDate' }} YOU HAVE IN YOUR
      <span class="account-name">{{ form.getDataValue('ACCOUNTTYP').value | uppercase }}</span>:</span>
    <span class="total-balance">{{ form.getDataValue('BALANCE').value | oReal: {grouping:true, minDecimalDigits:2, maxDecimalDigits:2} }} €</span>
  </div>

  <!-- parent-keys="ACCOUNTID" -->
  <o-chart #chart type="line" x-label="Time" y-label="Amount (€)" service="movements" entity="movement" query-on-init="no"
    x-axis="DATE_" y-axis="MOVEMENT" x-data-type="time" chart-height="200px" class="o-chart"></o-chart>

  <o-list #movementsList attr="movementsList" service="movements" entity="movement" keys="MOVEMENTID" parent-keys="ACCOUNTID"
    columns="ACCOUNTID;MOVEMENTID;DATE_;CONCEPT;MOVEMENT;MOVEMENTTYPEID" query-on-init="no" pageable="no" controls="no" detail-mode="none">
    <mat-list-item *ngFor="let rowData of movementsList.dataArray" [o-list-item]="rowData">
      <mat-icon *ngIf="rowData.MOVEMENTTYPEID===1 || rowData.MOVEMENTTYPEID===5" mat-list-icon>account_balance</mat-icon>
      <mat-icon *ngIf="rowData.MOVEMENTTYPEID===2" mat-list-icon>account_balance_wallet</mat-icon>
      <mat-icon *ngIf="rowData.MOVEMENTTYPEID===3" mat-list-icon>attach_money</mat-icon>
      <span mat-line>
        <span fxFlex>{{ rowData.CONCEPT }}</span>
        <span>{{ rowData.MOVEMENT }} €</span>
      </span>
      <span mat-line>{{ rowData.DATE_ | date }}</span>
    </mat-list-item>
  </o-list>

</o-form>
