.o-form .o-form-content-wrapper {
  padding: 0;
}

.account-info {
  font-size: .8em;
  height: 66px;

  .account-name {
    font-size: 1.4em;
    font-weight: bold;
  }

  .total-balance {
    font-size: 2em;
    font-weight: bold;
  }
}

o-chart.o-chart div:first-child {
  padding: 0 8px;
}

.month-selector {
  height: 40px;
  border-radius: 8px;
  background: #cccccc;
}

.movements-list {
  height: calc(100% - 66px - 200px - 40px);

  .mat-list {
    mat-list-item.mat-list-item.mat-2-line {
      height: 50px;
    }

    mat-list-item.o-list-item.mat-list-item {
      margin: 0;

      .text-primary {
        font-size: 1.4em;
        font-weight: bold;
      }

      .text-highlight {
        font-size: 1.5em;
        font-weight: bold;
      }
    }
  }
}
