.o-form .o-form-content-wrapper {
  padding: 0;
}

.account-info {
  font-size: .8em;
  max-height: 70px;

  .account-name {
    font-size: 1.4em;
  }

  .total-balance {
    font-size: 2em;
    font-weight: bold;
  }
}

o-chart.o-chart div:first-child {
  padding: 0;
}

// Mobile styles
// .movements-list {
//   .mat-list {
//     padding-top: 4px;

//     .o-list-item.o-list-item.mat-list-item {
//       margin: 3px 0;
//     }

//     .mat-list-item.mat-2-line {
//       height: 50px;
//     }

//     .mat-list-item .mat-list-item-content {
//       padding: 0 8px;
//     }

//     .mat-list-item .mat-list-item-content .mat-list-text:not(:nth-child(2)) {
//       padding-left: 8px;
//     }
//   }
// }
