.user-info {
  font-size: 1.5em;
  padding-left: 1em;
  height: 60px;

  .balance {
    font-size: 1em;
    font-weight: bold;
  }
}

.balance-list {
  height: calc(100% - 60px);

  .mat-list {
    mat-list-item.mat-list-item.mat-3-line {
      height: 70px;
    }

    mat-list-item.o-list-item.mat-list-item {
      margin: 0;

      .text-primary {
        font-size: 1.1em;
        font-weight: bold;
      }

      .text-highlight {
        font-size: 1em;
        font-weight: bold;
      }
    }
  }
}

// .balance-list {
//   .mat-list {
//     padding-top: 4px;

//     .o-list-item.mat-list-item {
//       margin: 3px 0;
//     }

//     .mat-list-item.mat-3-line {
//       height: 60px;
//     }

//     .mat-list-item .mat-list-item-content {
//       padding: 0 8px;
//     }

//     .mat-list-item .mat-list-item-content .mat-list-text:not(:nth-child(2)) {
//       padding-left: 8px;
//     }
//   }
// }
