<div fxLayout="column" fxLayoutAlign="space-around stretch" class="user-info">
  <span class="raw-text">{{ 'HELLO' | oTranslate }} <span class="username-text">{{ 'James Alan' | uppercase }}</span>,</span>
  <span class="raw-text">{{ 'YOU_HAVE' | oTranslate }}</span>
  <span class="balance">{{ calculateUserBalance(accountsList.dataArray) | oReal: {grouping:true, minDecimalDigits:2, maxDecimalDigits:2}
    }} €</span>
</div>

<o-list #accountsList service="customers" entity="customerAccount" keys="ACCOUNTID" columns="ACCOUNTTYP;ACCOUNT;BALANCE"
  query-method="customerQuery" quick-filter="no" controls="no" class="balance-list">
  <mat-list-item *ngFor="let row of accountsList.dataArray" role="listitem" o-list-item fxLayout="column">
    <mat-icon mat-list-icon>euro_symbol</mat-icon>
    <span mat-line class="text-primary">{{ row.ACCOUNTTYP }}</span>
    <span mat-line>{{ row.ACCOUNT }}</span>
    <span mat-line class="text-highlight">{{ row.BALANCE | number: '.2' }} €</span>
    <mat-divider></mat-divider>
  </mat-list-item>
</o-list>
