@import '../../../assets/css/colors.scss';

.user-info {
  padding: 6px 6px 6px 24px;
  height: 200px;
  background: $blue-background;
  color: $text-color;

  .raw-text {
    font-size: 28px;
  }

  .username-text {
    font-weight: bold;
    font-size: 32px;
  }

  .balance {
    font-size: 42px;
    font-weight: bold;
    text-align: right;
  }
}

.balance-list {
  height: calc(100% - 200px);

  .mat-list {
    mat-list-item.mat-list-item.mat-3-line {
      height: 70px;
    }

    mat-list-item.o-list-item.mat-list-item {
      margin: 0;

      .mat-list-icon {
        padding: 0;
        width: 36px;
        height: 36px;
        font-size: 36px;
        color: $icon-color;
      }

      .text-primary {
        font-size: 18px;
        font-weight: bold;
      }

      .text-highlight {
        font-size: 18px;
        font-weight: bold;
        text-align: right;
      }
    }
  }
}
